.dashboard-box{
    display: inline-block;
    width: 100vw;
    height:400px;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}