.contact-page {
  /* background-color: rgba(70, 49, 60, 0.073); */
  background: linear-gradient(#f3e9e97a, rgba(213, 213, 207, 0.199));
  width: 100vw;
  /* height: 80vh; */
  max-height: 900px;
  padding: 30px 0px 50px 0px;
  padding-top: 100px;
  overflow-x: auto;
  color: rgb(54, 2, 54);
  font-size: 28px;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.contact-box {
  display: flex;
  width: 90%;
  max-width: 400px;
  height: 100vh;
  max-height: 450px;
  flex-direction: column;
  border-radius: 8px;
  gap: 20px;
  padding: 50px 20px;
  background-color: white;
  box-shadow: 0px 0px 5px black;
  /* border: 1px solid grey; */
}
.contact-box-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.email-id-input,
.email-msg-input {
  height: 40px;
  padding: 0px 15px;
  border-radius: 5px;
  outline: none;
  font-size: 0.681em;
  letter-spacing: 0.81px;
  width: 100%;
  color: rgb(40, 1, 40);
  border: 1px solid grey;
}

.email-submit-btn {
  width: 125px;
  height: 40px;
  border: 1.5px solid grey;
  color: rgb(54, 2, 54);
  border-radius: 5px;
}

.email-submit-btn:hover {
  background-color: rgb(31, 1, 31);
  color: white;
}
@media (max-width: 800px) {
  .contact-page {
    font-size: 19px;
    padding-top: 50px;
    width: 100vw;
  }
  .contact-box {
    border: 1px solid grey;
    box-shadow: 0px 0px 0px black;
  }

  .email-id-input,
  .email-msg-input {
    font-size: 0.9em;
  }
}
